.header-bg {
  margin-bottom: 150px;
  background: rgba(248, 230, 203, 0.49);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px 0px 0px 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.headerzinho {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerzinho h1 {
  font-size: 1.3rem;
  font-weight: 500;
}
.img-git {
  width: 35px;
}
.iuri-git a {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 15px;
  color: black;
}
